:root {
  --grey-clr: #bdbbbb;
  --font-clr: #000;
  --pink-clr: #ec6178;
  --white-clr: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
 
  background:url('../img/wireframe.jpg');
  color: var(--font-clr);
  margin: 0px 250px
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.person {
    
  margin: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.person-info {
  padding: 1rem;
  margin-top: 2rem;
  width: 55%;
}

.bio {
  text-transform: capitalize;
  margin-top: 0.5rem;
  letter-spacing: 0.5px;
}

.grey {
  color: var(--grey-clr);
}

.person-contact-info {
  margin-top: 5rem;
}

.contact {
  color: var(--pink-clr);
}

.person-photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 1.5rem;
}

.gallery {
  place-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.album {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 270px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.album-title {
  color: var(--white-clr);
  margin-top: -2rem;
  padding-left: 1rem;
}

.album-info {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  font-size: 15px;
}

.fetaure-date {
  padding: 0 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature-icon:is(.false) {
  visibility: hidden;
}

.feature-icon.true::before {
  content: '❤️';
  font-size: 1.5rem;
}

@media (max-width: 501px) {

  body {
    margin: auto;
  }

  .person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }

  .person-info {
    margin-top: 1rem;
    width: 55%;
  }

  .person-contact-info {
    margin: 1rem;
    font-size: 1.2rem;
  }

  .gallery {
    place-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
